.chart-title {
    -fx-text-fill: #263238;
    -fx-font-family: "Noto Sans";
    -fx-font-size: 14px;
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
}

.axis-label {
    -fx-text-fill: #000a12;
    -fx-font-family: "Noto Sans";
    -fx-font-size: 14px;
    -fx-alignment: CENTER;
}

.axis {
    -fx-font-size: 10px;    
    -fx-tick-label-fill: #263238;
    -fx-font-family: "Noto Sans";
    -fx-tick-length: 10;
    -fx-minor-tick-length: 5;
}

.chart-plot-background {
    -fx-background-color: #fafafa;
}
.chart-vertical-grid-lines {
    -fx-stroke: #4f5b62;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #4f5b62;
}
.chart-alternative-row-fill {
    -fx-fill: #eceff1;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.default-color0.chart-series-line { -fx-stroke: #002171; }

.default-color0.chart-line-symbol { -fx-background-color: #0d47a1, lightblue; }

.chart-bar {
    -fx-background-color: #002171,linear-gradient(#0d47a1 50%, lightblue 100%),radial-gradient(center 50% -40%, radius 200%, #5472d3 45%, rgba(230,230,230,0) 50%);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-background-position: center;
    -fx-pref-width:20;
}

.chart-pie-label {
    -fx-text-fill: #000a12;
    -fx-font-family: "Noto Sans";
    -fx-font-size: 14px;
    -fx-alignment: CENTER;
}

.chart-pie-label-line {
    -fx-stroke: #000a12;
    -fx-fill: #000a12;
}

.default-color0.chart-pie { 
    -fx-pie-color: #0d47a1;
}
.default-color1.chart-pie {
    -fx-pie-color: lightblue; 
}